<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="colorlight">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
	<script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>

</head>

<body>
    <header class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">HOME</a>
            </div>
            <nav class="collapse navbar-collapse" id="bs-navbar">
                <ul class="nav navbar-nav">
                    <li><a target="_blank" href="/static/ife_pratice/pratice3/index.html">pratice3</a></li>
                    <li><a target="_blank" href="/static/ife_pratice/pratice4/index.html">pratice4</a></li>
                    <li><a target="_blank" href="/static/ife_pratice/pratice5/index.html">pratice5</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div id="important" style="color:#999; background-color:#24292e; padding:30px 0; margin:-20px 0 20px 0;">
        <div class="container">
            <h1 style="color:#fff; font-size:60px">欢迎来到我的杂货铺</h1>
            <p style="font-size:24px; line-height:48px">Colorlight 的试验场</p>
        </div>
    </div>
    {% block main %} {% endblock %}
    <footer style="background-color:#ddd; padding: 20px 0;">
        <div class="container">
            <p>
                <a target="_blank" href="https://colorlight.me">Website</a> - 
                <a target="_blank" href="https://github.com/colorlight">GitHub</a> - 
                <a target="_blank" href="https://codepen.io/colorlight/">codePen</a>
            </p>
            <p>小透明管理员 <a target="_blank" href="http://weibo.com/liaoxuefeng">@李伟光</a>.</p>
         
        </div>
    </footer>
</body>

</html>