@font-face {
  font-family: 'iconfont';  /* project id 295212 */
  src: url('//at.alicdn.com/t/font_25ex7u04t9fnu3di.eot');
  src: url('//at.alicdn.com/t/font_25ex7u04t9fnu3di.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_25ex7u04t9fnu3di.woff') format('woff'),
  url('//at.alicdn.com/t/font_25ex7u04t9fnu3di.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_25ex7u04t9fnu3di.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:22px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-QQ:before { content: "\e607"; }

.icon-unie61d:before { content: "\e60a"; }

.icon-zhihu:before { content: "\e6d1"; }

.icon-gmail:before { content: "\e632"; }

.icon-github:before { content: "\e69f"; }

.icon-codepen:before { content: "\e692"; }

